* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.dicas importantes-do-git {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    padding: 10px 15px;
    margin-top: 20px;
}

.dicas importantes-do-git h2 {
    color: #2196F3;
    margin-bottom: 10px;
    display: flexbox;
    justify-content: center;
    position: absolute;
    align-items: center;
    font-size: 1.5em;
    margin: 20px 0;
    padding: 20px;
    border: 30px solid #2196F3;
}